<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout daw api</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="col s12">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">API-USERS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Sair</a></li>
        </ul>
    </div>
</nav>
<div class="">
    {% block content %}
    {% endblock %}
    <br>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>